<button
  type='button'
  class='py-1 px-3 rounded shadow-md
    {{this.color}}
    {{size @size}}
    max-w-fit h-min'
  {{on 'click' this.onClick}}
>
  <Saetta::Stack @density='comfortable'>
    {{#if @icon}}
      <Saetta::Heroicon @icon={{@icon}} />
    {{/if}}
    {{@text}}
  </Saetta::Stack>
</button>