<Saetta::Stack
  @crossAlignment='stretch'
  @direction='col'
  @width={{@width}}
  @border='all'
  @shadow={{with-default @shadow def='all'}}
  @density='none'
  as |Stack|
>
  <Stack.item>
    <table
      class='table-auto
        {{size width=@width}}
        divide-y divide-neutral-200 rounded bg-white'
    >
      <thead class='bg-neutral-200'>
        <tr class='{{text-alignment @colAlignment}}'>
          {{#each @cols as |col|}}
            <th class='{{table-density @density}}'>
              {{col}}
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody class='divide-y divide-neutral-200'>
        {{yield (hash row=(component 'saetta/table/row' density=@density))}}
      </tbody>
    </table>
  </Stack.item>
  <Stack.item>
    {{#if @hasPagination}}
      <Saetta::Table::Paginator
        @currentPage={{@currentPage}}
        @totalPages={{@totalPages}}
        @totalRecords={{@totalRecords}}
        @onPageChange={{@onPageChange}}
      />
    {{/if}}
  </Stack.item>
</Saetta::Stack>