<div class='p-5 bg-gray-50'>
  <Saetta::Stack @direction='col'>
    <Saetta::Stack @direction='row'>
      <Saetta::Button @text='XSmall button' @color='primary' @size='xsmall' />
      <Saetta::Button @text='Small button' @color='primary' @size='small' />
      <Saetta::Button @text='Normal button' @color='primary' @size='normal' />
      <Saetta::Button @text='Large button' @color='primary' @size='large' />
      <Saetta::Button @text='XLarge button' @color='primary' @size='xlarge' />
    </Saetta::Stack>

    <Saetta::Stack @direction='row'>
      <Saetta::Button @text='Primary button' @color='primary' @size='normal' />
      <Saetta::Button
        @text='Secondary button'
        @color='secondary'
        @size='normal'
      />
      <Saetta::Button
        @text='Critical button'
        @color='critical'
        @size='normal'
        @icon='user-circle'
      />
      <Saetta::Button
        @text='Tertiary button'
        @color='tertiary'
        @size='normal'
      />
    </Saetta::Stack>

    <Saetta::Stack @direction='row'>
      <Saetta::Select
        @label='Select an option'
        @options={{(array 'Option 1' 'Option 2')}}
        @selected={{this.optSelected}}
        @onChange={{this.onOptionSelected}}
        @alignment='left'
        as |option|
      >
        {{option}}
      </Saetta::Select>
      <Saetta::Select
        @label='Select an option'
        @options={{(array 'Option 1' 'Option 2')}}
        @selected={{this.optSelected}}
        @onChange={{this.onOptionSelected}}
        @alignment='right'
        as |option|
      >
        {{option}}
      </Saetta::Select>
      <Saetta::SearchBox
        @label='Search...'
        @placeholder='Insert a text'
        @onSearch={{this.search}}
      />
      <Saetta::Toggle @label='Toggle' />
    </Saetta::Stack>

    <Saetta::Stack @width='full'>
      <Saetta::Table
        @cols={{array 'Col 1' 'Col 2' 'Col 3'}}
        @colAlignment='left'
        @width='full'
        @density='comfortable'
        @hasPagination={{true}}
        @pagination={{this.pagination}}
        @onFirstPage={{this.onFirstPage}}
        @onNextPage={{this.onNextPage}}
        @onPreviousPage={{this.onPreviousPage}}
        @onLastPage={{this.onLastPage}}
        as |Table|
      >
        <Table.row as |Row|>
          <Row.col>Data 1</Row.col>
          <Row.col>Data 2</Row.col>
          <Row.col>Data 3</Row.col>
        </Table.row>
        <Table.row as |Row|>
          <Row.col>Data 4</Row.col>
          <Row.col>Data 5</Row.col>
          <Row.col>Data 6</Row.col>
        </Table.row>
      </Saetta::Table>
    </Saetta::Stack>

    <Saetta::Stack>
      <Saetta::Text @text='This is a xsmall text' @size='xsmall' />
      <Saetta::Text @text='This is a small text' @size='small' />
      <Saetta::Text @text='This is a normal text' @size='normal' />
      <Saetta::Text @text='This is a large text' @size='large' />
      <Saetta::Text @text='This is a xlarge text' @size='xlarge' />
      <Saetta::Text @text='This is a 2xlarge text' @size='2xlarge' />
    </Saetta::Stack>

    <Saetta::Stack>
      <Saetta::Text @text='This is a light text' @weight='light' />
      <Saetta::Text @text='This is a normal text' @weight='normal' />
      <Saetta::Text @text='This is a medium text' @weight='medium' />
      <Saetta::Text @text='This is a bold text' @weight='bold' />
    </Saetta::Stack>

    <Saetta::Stack />
  </Saetta::Stack>
</div>